:root {
  //Primary
  --color-primary-light: hsl(180, 66%, 49%);
  --color-primary-dark: hsl(257, 27%, 26%);

  // Secondary
  --color-secondary: hsl(0, 87%, 67%);

  // Neutral
  --color-gray-light-1: hsl(0, 0%, 75%);
  --color-gray-light-2: hsl(257, 7%, 63%);
  --color-gray-light-3: hsl(231, 30%, 95%);

  --color-gray-dark-1: hsl(255, 11%, 22%);
  --color-gray-dark-2: hsl(260, 8%, 14%);
}
