.btn {
  color: #fff;
  background-color: var(--color-primary-light-1);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
  height: 4.5rem;

  &:hover,
  &:active {
    background-color: var(--color-primary-light-2);
  }

  &-secondary {
    border-radius: 1rem;
  }

  &--small {
    font-size: 1.6rem;
    padding: 1rem 3rem;
  }
}
