.heading-1 {
  font-size: 8rem;
  color: var(--color-gray-dark-1);
}

.heading-2 {
  font-size: 4rem;

  &--dark {
    color: var(--color-gray-dark-1);
  }
  &--light {
    color: #fefefe;
  }
}
.paragraph {
  line-height: 3.2rem;
}
