.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 75vh repeat(3, min-content);
  grid-template-areas:
    'nav'
    'header'
    'about'
    'cta'
    'footer';
}

.section-about {
  grid-area: about;

  background-color: var(--color-gray-light-3);
}

.section-cta {
  grid-area: cta;
}
